* {
    margin: 0;
    padding: 0;
  }

p {

}

.welcome-section {

}

.about-us-section {
    color: blue;
}

.green-text {
    color: green;
}

#special-paragraph-1 {
    color: orange;
}

.about-us-section p {
    font-size: 64px;
}